/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/webfonts
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
